.n1
{
  text-align: center;
  color: white;
}

.nome1{}

.ftface{
  margin-left:48%;
   position: absolute;
   
    width: 50px;
    height: 120px;
  
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }

}
.c1
{
  width: 30%;
  background-image: url("fundo 2.jpg"); 
  margin-left: 35%;
  margin-top: 10%;




}
body
{
  background-image: url("fundo.jpg");
}


.ft
{
  margin-left: 28%;

}
.descricao
{
  text-align: center;
  background-image: url("fund2.jpg");
  color: white;
}